body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 20px;
}

h1 {
  margin: 0;
  color: #fff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav li button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

nav li button:hover {
  background-color: #666;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  color: #fff;
}